body {
  background-color: rgb(217, 245, 229);
  text-align: center;
  font-family: 'Concert One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(21, 77, 114, 0.66);
  margin-top: 120px;
}

.hardmode {
  position: relative;
  margin-top: -60px;
  font-size: 30pt;
  color: #fc3682e7;
}

.chosen {
  font-size: 70pt;
}

img {
  height: 20vh;
  width: auto;
  padding: 20px;
  border-radius: 20px;
}

.image-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
}

button {
  border-radius: 20px;
  border: 4px rgba(43, 43, 43, 0.199) solid;
  background-color: rgba(255, 255, 255, 0.95);
}

button:hover {
  border-radius: 20px;
  border: 4px rgba(43, 43, 43, 0.3) solid;
  background-color: rgba(12, 134, 196, 0.404);
}

.homeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 45%;
}

.homeButton:hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

#hardModeButton {
  font-size: 16pt;
  color: #fc3682e7;
  font-family: 'Concert One', sans-serif;
  border-radius: 15px;
  padding: 10px;
}

#hardModeButton:hover {
  border-radius: 20px;
  border: 4px rgba(43, 43, 43, 0.3) solid;
  background-color: #ffdddde7;
}

.homeImage {
  height: 15vh;
  width: auto;
  padding: 0;
  border-radius: 20px;
}
